
/* Attribute Cascading Style Sheets - START */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font: 62.5% / 1.15 sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    text-transform: Capitalize;
}

input[type="text"] {
    width: 100%;
}

body {
    max-width: 68rem;
    margin: 0 auto 0 auto;
    font: 1.8rem/1.25 Arial, sans-serif;
    color: white;
    background:
        linear-gradient(153.03deg, #0500FF 16.92%, #000000 87.01%),
        linear-gradient(121.28deg, #FFFFFF 70.31%, rgba(25, 0, 177, 0.85) 100%),
        linear-gradient(195.81deg, #FFB6B6 8.74%, #00492F 100%),
        linear-gradient(269.62deg, #FFFFFF 0.44%, #0077AA 99.56%),
        radial-gradient(77.85% 100% at 50% 0%, #6BFF71 0%, #190024 100%),
        linear-gradient(339.45deg, #00FF38 1.34%, #FF0000 73.07%),
        linear-gradient(201.13deg, #22F400 -0.47%, #DBFF00 100%),
        linear-gradient(94.04deg, #18007A 0%, #00D5C8 51.04%, #F4FF75 100%), #FFFFFF;
    background-blend-mode: exclusion, multiply, overlay, multiply, color-dodge, difference, difference, normal, normal;
    min-height: 300rem;
    height: 100%;
    text-transform: capitalize;
}

/* Attribute Cascading Style Sheets - END */



/* Class Cascading Style Sheets - START */

.button_add_task {
    color: #fff;
    background-color: rgba(35, 45, 80, 0.75);
    border: 3px solid white;
    border-radius: 3rem;
    font-size: 2.4rem;
    width: 22rem;
    margin: auto;
    padding: 1rem 0 1rem 0;
    display: block;
}

.button_add_task:hover {
    border: 3px solid #228bec;
    border-radius: 3rem;
}

.button_cancel {
    color: #fff;
    background-color: rgba(35, 45, 80, 0.75);
    border: 3px solid white;
    border-radius: 2.5rem;
    font-family: arial;
    font-size: 1.6rem;
    width: 100%;
    margin: 1rem 5rem 1rem 2rem;
    padding: 1rem 0 1rem 0;
}

.button_cancel:hover {
    border: 3px solid #228bec;
    border-radius: 2.5rem;
}

.button_delete {
    color: #fff;
    background-color: rgba(35, 45, 80, 0.75);
    border: 3px solid white;
    border-radius: 2.5rem;
    font-family: arial;
    font-size: 1.6rem;
    width: 100%;
    margin: 1rem 5rem 1rem 2rem;
    padding: 1rem 0 1rem 0;
}

.button_delete:hover {
    border: 3px solid #228bec;
    border-radius: 2.5rem;
}

.button_edit {
    color: #fff;
    background-color: rgba(35, 45, 80, 0.75);
    border: 3px solid white;
    border-radius: 2.5rem;
    font-family: arial;
    font-size: 1.6rem;
    width: 100%;
    margin: 1rem 2rem 1rem 5rem;
    padding: 1rem 0 1rem 0;
}

.button_edit:hover {
    border: 3px solid #228bec;
    border-radius: 2.5rem;
}

.button_save {
    color: #fff;
    background-color: rgba(35, 45, 80, 0.75);
    border: 3px solid white;
    border-radius: 2.5rem;
    font-family: arial;
    font-size: 1.6rem;
    width: 100%;
    margin: 1rem 2rem 1rem 5rem;
    padding: 1rem 0 1rem 0;
}

.button_save:hover {
    border: 3px solid #228bec;
    border-radius: 2.5rem;
}

.button_visually_hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.container_button {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
}

.edit_input_field {
    width: 100%;
    min-height: 5rem;
    padding: 1rem 0 1rem 2rem;
    margin-top: 1rem;
    border: 4px solid rgba(35, 45, 80);
    border-radius: 2.5rem;
}

.edit_input_field:focus {
    border: 4px solid #228bec;
    border-radius: 2.5rem;
}

.edit_warning {
    margin-left: 2rem;
}

.task_app {
    background: rgba(35, 45, 80, 0.75);
    margin: 5rem 5rem 5rem 5rem;
    padding: 5rem;
    position: relative;
    border: 3px solid rgb(35, 45, 80, 0.85);
    border-radius: 2rem;
    box-shadow: 5px 10px 18px #212121;
}

.task_app > form {
    width: 100%;
}

.task_input_field {
    padding: 2rem;
    margin: 0 0 2rem 0;
    border: 4px solid rgba(35, 45, 80);
    border-radius: 3.5rem;
}

.task_input_field:hover {
    border: 4px solid #228bec;
    border-radius: 3.5rem;
}

.task_input_field:focus {
    border: 4px solid #228bec;
    border-radius: 3.5rem;
}

.task_list {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 44px;
    padding-left: 40px;
    clear: left;
}

.task_list > label::before,
.task_list > input[type="checkbox"] {
    box-sizing: border-box;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
    border-radius: 2.5rem;
}

.task_list > label {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 0 5px 15px;
    cursor: pointer;
}

.task_list > label::before {
    content: "";
    position: absolute;
    border: 3px solid;
    background: transparent;
}

.task_list > label::after {
    box-sizing: content-box;
    content: "";
    position: absolute;
    top: 11px;
    left: 9px;
    width: 18px;
    height: 7px;
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent;
}

.task_list > input[type="checkbox"] {
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    margin: 0;
    opacity: 0;
}

.task_list > input[type="checkbox"]:focus + label::before {
    border: 5px solid #228bec;
    border-radius: 3rem;
}

.task_list > input[type="checkbox"]:hover + label::before {
    border: 5px solid #228bec;
    border-radius: 3rem;
}

.task_list > input[type="checkbox"]:checked + label::after {
    opacity: 1;
}

.title_container {
    margin: 0 0 1.5rem 0;
    flex: 0 0 100%;
    text-align: center;
}

.title_design {
    font-weight: 700;
    text-align: center;
    font-size: 4rem;
}

/* Class Cascading Style Sheets - END */